* {
    /* Reset browser's padding and margin */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    margin: 100px;
  }

  .my-button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100px;
    outline: none;
    background: #b71540;
    color: white; 
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    margin-left: 10px;
  }
  .my-button2 {
    width: 50px;
    margin-right: 10px;
    height: 50px;
    border: none;
    border-radius: 100px;
    outline: none;
    background: green;
    color: white; 
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  .my-button:hover {
    background: #eb2f06;
  }